/* PHASE 4: Footer */

.footer {
  margin: auto;
  background-color: #fff;
  width: 902px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #ccc;
  padding: 20px;
  box-sizing: border-box;
  color: #aaa;
  font-size: 14px;
}

.footer-copy {
  float: left;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;
}

.footer a {
  padding-left: 20px;
}

.footer a:hover {
  color: #000;
}
